if ARCH_IMX9

config AHAB_BOOT
    bool "Support i.MX9 AHAB features"
    help
    This option enables the support for AHAB secure boot.

config IMX9
	bool
	select HAS_CAAM
	select ROM_UNIFIED_SECTIONS

config IMX93
	bool
	select IMX9
	select ARMV8_SPL_EXCEPTION_VECTORS

config IMX95
	bool
	select IMX9
	select ARMV8_SPL_EXCEPTION_VECTORS
	select SCMI_FIRMWARE
	select DM_MAILBOX

config SYS_SOC
	default "imx9"

choice
	prompt  "NXP i.MX9 board select"
	optional

config TARGET_IMX93_14X14_EVK
	bool "imx93_14x14_evk"
	select IMX93

config TARGET_IMX93_11X11_EVK
	bool "imx93_11x11_evk"
	select OF_BOARD_FIXUP
	select IMX93

config TARGET_IMX93_9X9_QSB
	bool "imx93_9x9_qsb"
	select IMX93
	select IMX9_LPDDR4X

config TARGET_IMX91P_11X11_EVK
	bool "imx91p_11x11_evk"
	select IMX93

config TARGET_IMX91P_9X9_QSB
	bool "imx91p_9x9_qsb"
	select IMX93
	select IMX9_LPDDR4X

config TARGET_IMX95_19X19_EVK
	bool "imx95_19x19_evk"
	select IMX95

config TARGET_TITAN_IMX95_19X19
	bool "imx95_titan_evk"
	select IMX95

endchoice

source "board/freescale/imx93_evk/Kconfig"
source "board/freescale/imx93_qsb/Kconfig"
source "board/freescale/imx95_evk/Kconfig"
source "board/toradex/titan-imx95/Kconfig"

endif

