if ARCH_IMX9

config AHAB_BOOT
    bool "Support i.MX9 AHAB features"
    help
    This option enables the support for AHAB secure boot.

config IMX9
	bool
	select HAS_CAAM
	select ROM_UNIFIED_SECTIONS

config IMX93
	bool
	select IMX9
	select ARMV8_SPL_EXCEPTION_VECTORS
	select SYS_FSL_ERRATUM_052357

config IMX91
	bool
	select IMX9
	select ARMV8_SPL_EXCEPTION_VECTORS
	select SYS_FSL_ERRATUM_052357

config IMX95
	bool
	select IMX9
	select ARMV8_SPL_EXCEPTION_VECTORS
	select SCMI_FIRMWARE
	select DM_MAILBOX

config SYS_SOC
	default "imx9"

choice
	prompt  "NXP i.MX9 board select"
	optional

config TARGET_IMX91_11X11_EVK
	bool "imx91_11x11_evk"
	select OF_BOARD_FIXUP
	select IMX91

config TARGET_IMX91_9X9_QSB
	bool "imx91_9x9_qsb"
	select IMX91
	select IMX9_LPDDR4X

config TARGET_IMX93_14X14_EVK
	bool "imx93_14x14_evk"
	select IMX93

config TARGET_IMX93_11X11_EVK
	bool "imx93_11x11_evk"
	select OF_BOARD_FIXUP
	select IMX93

config TARGET_IMX93_VAR_SOM
	bool "imx93_var_som"
	select IMX93
	select IMX9_LPDDR4X

config TARGET_PHYCORE_IMX93
	bool "phycore_imx93"
	select IMX93
	select IMX9_LPDDR4X

config TARGET_IMX93_9X9_QSB
	bool "imx93_9x9_qsb"
	select IMX93
	select IMX9_LPDDR4X

config TARGET_IMX95_19X19_EVK
	bool "imx95_19x19_evk"
	select IMX95

config TARGET_VERDIN_IMX95_19X19
	bool "imx95_verdin_evk"
	select IMX95

config TARGET_IMX95_15X15_EVK
	bool "imx95_15x15_evk"
	select IMX95

endchoice

source "board/freescale/imx91_evk/Kconfig"
source "board/freescale/imx91_qsb/Kconfig"
source "board/freescale/imx93_evk/Kconfig"
source "board/phytec/phycore_imx93/Kconfig"
source "board/variscite/imx93_var_som/Kconfig"
source "board/freescale/imx93_qsb/Kconfig"
source "board/freescale/imx95_evk/Kconfig"
source "board/toradex/verdin-imx95/Kconfig"

endif

