if TARGET_S32V234EVB

config SYS_BOARD
	string
	default "s32v234evb"

config SYS_CONFIG_NAME
	string
	default "s32v234evb"

# S32V234EVB board with LPDDR2 has 2x256 MB DDR chips
# DDR0(256MB) and DDR1(256MB).
# U-boot uses only one DDR slot.

config SYS_DDR_SIZE
	hex
	default 0x10000000 if S32V234_LPDDR2

endif
