if TARGET_MX6SX_17X17_ARM2 || TARGET_MX6SX_14X14_ARM2

config SYS_BOARD
	default "mx6sx_17x17_arm2"

config SYS_VENDOR
	default "freescale"

config SYS_CONFIG_NAME
	default "mx6sx_17x17_arm2"

config LPDDR2
	bool "Select for the board using LPDDR2 not default DDR3"

config NOR
	bool "Support for NOR flash"
	help
	  The i.MX SoC supports having a NOR flash connected to the WEIM.
	  Need to set this for NOR_BOOT.
endif
