if TARGET_IMX8ULP_EVK || TARGET_IMX8ULP_9X9_EVK

config SYS_BOARD
	default "imx8ulp_evk"

config SYS_VENDOR
	default "freescale"

config SYS_CONFIG_NAME
	default "imx8ulp_evk"

source "board/freescale/common/Kconfig"

endif
