if TARGET_IMX8ULP_WATCH

config SYS_BOARD
	default "imx8ulp_watch"

config SYS_VENDOR
	default "freescale"

config SYS_CONFIG_NAME
	default "imx8ulp_watch"

source "board/freescale/common/Kconfig"

endif
