if !ARCH_IMX8M && !ARCH_IMX8

config CHAIN_OF_TRUST
	depends on !FIT_SIGNATURE && SECURE_BOOT
	imply CMD_BLOB
	select FSL_CAAM
	bool
	default y

endif

config USB_TCPC
	bool "USB Typec port controller simple driver"
	default n
	help
	  Enable USB type-c port controller (TCPC) driver
