if TARGET_MX6QSABREAUTO

config SYS_BOARD
	default "mx6qsabreauto"

config SYS_VENDOR
	default "freescale"

config SYS_CONFIG_NAME
	default "mx6qsabreauto"

config NOR
	bool "Support for NOR flash"
	help
	  The i.MX SoC supports having a NOR flash connected to the WEIM.
	  Need to set this for NOR_BOOT.
endif
