if ARCH_IMX8

config HAVE_SC_FIRMWARE
	bool
	help
	  Have SCU on the SoC

config IMX_SMMU
	bool "Enable SMMU on i.MX8"
	help
	  Enable the SMMU for peripherals on i.MX8

config AHAB_BOOT
	bool "Support i.MX8 AHAB features"
	help
	  This option enables the support for AHAB secure boot.

config IMX8
	bool
	default y

config IMX8QM
	bool
	select HAVE_SC_FIRMWARE

config IMX8QXP
	bool
	select HAVE_SC_FIRMWARE

config SYS_SOC
	default "imx8"

config SMC_FUSE
        bool "Call fuse commands through SMC"

choice
	prompt "MX8 board select"
	optional

config TARGET_IMX8QM_LPDDR4_ARM2
	bool "Support i.MX8QM lpddr4 validation board"
	select BOARD_LATE_INIT
	select IMX8QM

config TARGET_IMX8QM_DDR4_ARM2
	bool "Support i.MX8QM ddr4 validation board"
	select BOARD_LATE_INIT
	select IMX8QM

config TARGET_IMX8QM_MEK
	bool "Support i.MX8QM MEK board"
	select BOARD_LATE_INIT
	select IMX8QM

config TARGET_IMX8QXP_LPDDR4_ARM2
	bool "Support i.MX8QXP lpddr4 validation board"
	select BOARD_LATE_INIT
	select IMX8QXP

config TARGET_IMX8QXP_DDR3_ARM2
	bool "Support i.MX8QXP ddr3 validation board"
	select BOARD_LATE_INIT
	select IMX8QXP

config TARGET_IMX8QXP_MEK
	bool "Support i.MX8QXP MEK board"
	select BOARD_LATE_INIT
	select IMX8QXP

endchoice

source "board/freescale/imx8qm_arm2/Kconfig"
source "board/freescale/imx8qm_mek/Kconfig"
source "board/freescale/imx8qxp_arm2/Kconfig"
source "board/freescale/imx8qxp_mek/Kconfig"

endif
