if TARGET_MX6SXSCM

config SYS_BOARD
	default "mx6sxscm"

config SYS_VENDOR
	default "freescale"

config SYS_CONFIG_NAME
	default "mx6sxscm"

config 512MB_LPDDR2
	bool "lpddr2 size of 512MB"
	help
	  Set the lpddr2 size to 512 MB.

config MX6SXSCM_EMMC
	bool "Select for eMMC support"
	help
	  For epop modules with eMMC on SCM.

endif
