if TARGET_MX6SABRESD || TARGET_MX6SABRESD_COMMON

config SYS_BOARD
	default "mx6sabresd"

config SYS_VENDOR
	default "freescale"

config SYS_CONFIG_NAME
	default "mx6sabresd"

config SYS_TEXT_BASE
    default 0x17800000

endif
