if TARGET_MX6UL_NXPU_IOPB

config SYS_BOARD
	default "mx6ul_nxpu_iopb"

config SYS_VENDOR
	default "freescale"

config SYS_SOC
	default "mx6"

config SYS_CONFIG_NAME
	default "mx6ul_nxpu_iopb"

endif
