if TARGET_MX7D_19X19_LPDDR3_VAL || TARGET_MX7D_19X19_LPDDR2_VAL

config SYS_BOARD
	default "mx7d_19x19_lpddr3_val"

config SYS_VENDOR
	default "freescale"

config SYS_CONFIG_NAME
	default "mx7d_19x19_lpddr3_val"

config SYS_TEXT_BASE
	default 0x87800000

config NOR
	bool "Support for NOR flash"
	help
	  The i.MX SoC supports having a NOR flash connected to the WEIM.
	  Need to set this for NOR_BOOT.
endif
