// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2018 NXP
 */

&qspi1 {
	num-cs = <2>;

	flash0: n25q256a@0 {
		compatible = "jedec,spi-nor";
	};

	flash1: n25q256a@1 {
		compatible = "jedec,spi-nor";
	};
};

&ethphy0 {
	vddio0: vddio-regulator {
		regulator-name = "VDDIO";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};
};

&ethphy1 {
	vddio1: vddio-regulator {
		regulator-name = "VDDIO";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};
};
