// SPDX-License-Identifier: GPL-2.0+
 /*
  * Copyright 2021 NXP
  */

#include "imx8mn-ab2.dts"
#include "imx8mn-ab2-u-boot.dtsi"

/ {
	model = "NXP i.MX8MNano DDR3L Audio board 2.0";
};

&dsi_host {
	status = "disabled";
};

&{/rm67199_panel} {
	status = "disabled";
};

&lcdif {
	status = "disabled";
};

&mipi_dsi {
	status = "disabled";
};
