// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2025 NXP
 */

/ {
	aliases {
		usb0 = &usb3_dwc3;
		usb1 = &usb2;
		usb_gadget0 = &usb3_dwc3;
		usb_gadget1 = &usbg2;
		pci0 = &netc_bus0;
		pci1 = &netc_bus1;
	};

	usbg2: usbg2 {
		compatible = "fsl,imx27-usb-gadget";
		dr_mode = "peripheral";
		chipidea,usb = <&usb2>;
		status = "okay";
	};
};

&aips1 {
	bootph-all;
	bootph-pre-ram;
};

&aips2 {
	bootph-all;
	bootph-pre-ram;
};

&aips3 {
	bootph-all;
	bootph-pre-ram;
};

&clk_ext1 {
	bootph-all;
	bootph-pre-ram;
};

&dispmix_csr {
	/delete-property/ assigned-clocks;
	/delete-property/ assigned-clock-rates;
	/delete-property/ assigned-clock-parents;
};

&dummy {
	bootph-all;
	bootph-pre-ram;
};

&elemu1 {
	compatible = "fsl,imx93-mu-s4";
	bootph-all;
	bootph-pre-ram;
	status = "okay";
};

&elemu3 {
	compatible = "fsl,imx93-mu-s4";
	bootph-all;
	bootph-pre-ram;
	status = "okay";
};

&gpio2 {
	reg = <0 0x43810000 0 0x1000>, <0 0x43810040 0 0x40>;
	bootph-pre-ram;
};

&gpio3 {
	reg = <0 0x43820000 0 0x1000>, <0 0x43820040 0 0x40>;
	bootph-pre-ram;
};

&gpio4 {
	reg = <0 0x43840000 0 0x1000>, <0 0x43840040 0 0x40>;
	bootph-pre-ram;
};

&gpio5 {
	reg = <0 0x43850000 0 0x1000>, <0 0x43850040 0 0x40>;
	bootph-pre-ram;
};

&gpio6 {
	reg = <0 0x43860000 0 0x1000>, <0 0x43860040 0 0x40>;
	bootph-pre-ram;
};

&gpio7 {
	reg = <0 0x43870000 0 0x1000>, <0 0x43870040 0 0x40>;
	bootph-pre-ram;
};

&lpuart1 {
	bootph-pre-ram;
};

&mu2 {
	bootph-all;
	bootph-pre-ram;
};

&osc_24m {
	bootph-all;
	bootph-pre-ram;
};

&pinctrl_reg_usdhc2_vmmc {
	bootph-pre-ram;
};

&pinctrl_uart1 {
	bootph-pre-ram;
};

&pinctrl_usdhc1_100mhz {
	bootph-pre-ram;
};

&pinctrl_usdhc1_200mhz {
	bootph-pre-ram;
};

&pinctrl_usdhc1 {
	bootph-pre-ram;
};

&pinctrl_usdhc2 {
	bootph-pre-ram;
};

&pinctrl_usdhc2_100mhz {
	bootph-pre-ram;
};

&pinctrl_usdhc2_200mhz {
	bootph-pre-ram;
};

&pinctrl_usdhc2_gpio {
	bootph-pre-ram;
};

&pinctrl_xspi1 {
	bootph-pre-ram;
};

&reg_usdhc2_vmmc {
	bootph-pre-ram;
};

&scmi_buf0 {
	bootph-all;
	bootph-pre-ram;
};

&scmi_buf1 {
	bootph-all;
	bootph-pre-ram;
};

&sram0 {
	bootph-all;
	bootph-pre-ram;
};

&usb2 {
	compatible = "fsl,imx8mm-usb", "fsl,imx7d-usb";
	/delete-property/power-domains;
};

&usb3_phy {
	bootph-pre-ram;
};

&usb3 {
	clocks = <&scmi_clk IMX94_CLK_HSIO>,
		 <&scmi_clk IMX94_CLK_24M>,
		 <&scmi_clk IMX94_CLK_32K>;
	clock-names = "hsio", "ref", "suspend";

	/delete-property/power-domains;
	bootph-pre-ram;
};

&usb3_dwc3 {
	bootph-pre-ram;
};

&usdhc1 {
	bootph-pre-ram;
};

&usdhc2 {
	bootph-pre-ram;
};

&xspi1 {
	bootph-pre-ram;
};

&mt35xu512aba {
	bootph-pre-ram;
};

&{/firmware} {
	bootph-all;
	bootph-pre-ram;
};

&{/firmware/scmi} {
	bootph-all;
	bootph-pre-ram;
};

&{/firmware/scmi/protocol@11} {
	bootph-all;
	bootph-pre-ram;
};

&{/firmware/scmi/protocol@13} {
	bootph-all;
	bootph-pre-ram;
};

&{/firmware/scmi/protocol@14} {
	bootph-all;
	bootph-pre-ram;
};

&{/firmware/scmi/protocol@15} {
	bootph-all;
};

&{/firmware/scmi/protocol@19} {
	bootph-all;
	bootph-pre-ram;
};

&{/soc} {
	bootph-all;
	bootph-pre-ram;
};

&pcal6416_i2c3_u46 {
	compatible = "ti,tca6416";
	label = "u46";
};

&pcal6416_i2c3_u171 {
	compatible = "ti,tca6416";
	label = "u171";
};

&pcal6416_i2c3_u48 {
	compatible = "ti,tca6416";
	label = "u48";
};

&pcal6408_i2c3_u172 {
	compatible = "ti,tca6408";
	label = "u172";
};

&pca9670_i2c3 {
	u-boot,i2c-offset-len = <0>;
};

&pcie0 {
	assigned-clocks =<&scmi_clk IMX94_CLK_HSIOPLL_VCO>,
			 <&scmi_clk IMX94_CLK_HSIOPLL>,
			 <&scmi_clk IMX94_CLK_HSIOPCIEAUX>;
	assigned-clock-rates = <3600000000>, <100000000>, <10000000>;
	assigned-clock-parents = <0>, <&scmi_clk IMX94_CLK_HSIOPLL_VCO>,
				 <&scmi_clk IMX94_CLK_SYSPLL1_PFD1_DIV2>;
};

&pcie1 {
	assigned-clocks =<&scmi_clk IMX94_CLK_HSIOPLL_VCO>,
			 <&scmi_clk IMX94_CLK_HSIOPLL>,
			 <&scmi_clk IMX94_CLK_HSIOPCIEAUX>;
	assigned-clock-rates = <3600000000>, <100000000>, <10000000>;
	assigned-clock-parents = <0>, <&scmi_clk IMX94_CLK_HSIOPLL_VCO>,
				 <&scmi_clk IMX94_CLK_SYSPLL1_PFD1_DIV2>;
};
