if ARCH_IMX8ULP

config AHAB_BOOT
	bool "Support i.MX8ULP AHAB features"
	help
	  This option enables the support for AHAB secure boot.

config IMX8ULP
	bool

config SYS_SOC
	default "imx8ulp"

choice
	prompt "i.MX8ULP board select"
	optional

endchoice

endif
