CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_MX6DQSCM=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/freescale/mx6dqscm/imximage_scm_lpddr2.cfg,MX6Q,DDR_MB=512,SYS_BOOT_SPINOR,DEFAULT_FDT_FILE=\"imx6dqscm-512mb-evb-ldo.dtb\",SCMEVB,SCM_LPDDR2_512MB"
CONFIG_CMD_GPIO=y
