CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_MX6DQSCM=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/freescale/mx6dqscm/imximage_scm_lpddr2.cfg,MX6Q,DDR_MB=1024,SYS_USE_SPINOR,DEFAULT_FDT_FILE=\"imx6dqscm-1gb-qwks-rev2-interleave-ldo.dtb\",INTERLEAVING_MODE,ANDROID_SUPPORT"
CONFIG_CMD_GPIO=y
