CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_MX6SXSCM=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/freescale/mx6sxscm/imximage_lpddr2.cfg,MX6SX,512MB_LPDDR2,MX6SXSABRESD_EMMC_REWORK,SYS_BOOT_QSPI,SYS_AUXCORE_FASTUP"
CONFIG_CMD_GPIO=y
