CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/freescale/mx6ul_aquila/imximage.cfg,MX6UL,MX6UL_AQUILA,ANDROID_SUPPORT,BRILLO_SUPPORT,EFI_PARTITION,AVB_SUPPORT,SYSTEM_RAMDISK_SUPPORT"
CONFIG_ARM=y
CONFIG_TARGET_MX6UL_AQUILA=y
CONFIG_DM=y
CONFIG_DM_THERMAL=y
