CONFIG_ARM=y
CONFIG_ARCH_MX7=y
CONFIG_IMX_RDC=y
CONFIG_IMX_BOOTAUX=y
CONFIG_TARGET_MX7D_19X19_LPDDR2_ARM2=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/freescale/mx7d_19x19_lpddr3_arm2/imximage_lpddr2_TO_1_1.cfg,DEFAULT_FDT_FILE=\"imx7d-19x19-lpddr2-arm2.dtb\""
CONFIG_CMD_GPIO=y
CONFIG_CMD_DHCP=y
CONFIG_CMD_PING=y
