CONFIG_ARM=y
CONFIG_ARCH_S32V234=y
CONFIG_S32V234EVB_29288=y
CONFIG_S32V234_DDR3=y
CONFIG_ARMV8_MULTIENTRY=y
CONFIG_SYS_TEXT_BASE=0x3E820000
CONFIG_ENV_SIZE=0x2000
CONFIG_ENV_OFFSET=0x100000
CONFIG_NR_DRAM_BANKS=2
CONFIG_DISTRO_DEFAULTS=y
CONFIG_USE_BOOTARGS=y
CONFIG_BOOTDELAY=3
CONFIG_BOARD_EARLY_INIT_F=y
CONFIG_ARCH_EARLY_INIT_R=y
CONFIG_CMD_MEMTEST=y
CONFIG_ENV_IS_IN_MMC=y
CONFIG_DM=y
CONFIG_FSL_USDHC=y
CONFIG_FSL_LINFLEXUART=y
CONFIG_OF_LIBFDT=y
CONFIG_SD_BOOT=y
CONFIG_CMD_MMC=y
