if ARCH_MX7

config MX7
	bool
	default y
	select ARCH_SUPPORT_PSCI
	select CPU_V7_HAS_NONSEC
	select CPU_V7_HAS_VIRT
	select ROM_UNIFIED_SECTIONS
	select SYSCOUNTER_TIMER
	imply CMD_FUSE

config MX7D
	bool
	select HAS_CAAM
	select ROM_UNIFIED_SECTIONS
	imply CMD_FUSE

config IMX_TAMPER
	bool "Enable commands for SNVS tamper pin configuration and test"
	help
	  Set "Y" to enable the tamper commands

choice
	prompt "MX7 board select"
	optional

config TARGET_CL_SOM_IMX7
	bool "CL-SOM-iMX7"
	select DM
	select DM_THERMAL
	select MX7D
	select SUPPORT_SPL
	imply CMD_DM

config TARGET_MEERKAT96
	bool "NovTech Meerkat96 board"
	select BOARD_LATE_INIT
	select DM
	select DM_SERIAL
	select DM_THERMAL
	select MX7D
	imply CMD_DM

config TARGET_MX7DSABRESD
	bool "mx7dsabresd"
	select BOARD_LATE_INIT
	select DM
	select DM_THERMAL
	select MX7D
	imply CMD_DM

config TARGET_MX7D_12X12_LPDDR3_VAL
	bool "Support mx7d_12x12_lpddr3_val"
	select BOARD_LATE_INIT
	select MX7D
	select DM
	select DM_THERMAL
	imply CMD_DM

config TARGET_MX7D_12X12_DDR3_VAL
	bool "Support mx7d_12x12_ddr3_val"
	select BOARD_LATE_INIT
	select MX7D
	select DM
	select DM_THERMAL
	imply CMD_DM

config TARGET_MX7D_19X19_DDR3_VAL
	bool "Support mx7d_19x19_ddr3_val"
	select BOARD_LATE_INIT
	select MX7D
	select DM
	select DM_THERMAL
	imply CMD_DM

config TARGET_MX7D_19X19_LPDDR3_VAL
	bool "Support mx7d_19x19_lpddr3_val"
	select BOARD_LATE_INIT
	select MX7D
	select DM
	select DM_THERMAL
	imply CMD_DM

config TARGET_MX7D_19X19_LPDDR2_VAL
	bool "Support mx7d_19x19_lpddr2_val"
	select BOARD_LATE_INIT
	select MX7D
	select DM
	select DM_THERMAL
	imply CMD_DM

config TARGET_PICO_IMX7D
	bool "pico-imx7d"
	select BOARD_LATE_INIT
	select DM
	select DM_THERMAL
	select MX7D
	select SUPPORT_SPL
	imply CMD_DM

config TARGET_WARP7
	bool "warp7"
	select BOARD_LATE_INIT
	select DM
	select DM_THERMAL
	select MX7D
	imply CMD_DM

config TARGET_COLIBRI_IMX7
	bool "Support Colibri iMX7S/iMX7D modules"
	select DM
	select DM_SERIAL
	select DM_THERMAL
	imply CMD_DM

endchoice

config SYS_SOC
	default "mx7"

source "board/compulab/cl-som-imx7/Kconfig"
source "board/freescale/mx7dsabresd/Kconfig"
source "board/freescale/mx7d_12x12_lpddr3_val/Kconfig"
source "board/freescale/mx7d_12x12_ddr3_val/Kconfig"
source "board/freescale/mx7d_19x19_ddr3_val/Kconfig"
source "board/freescale/mx7d_19x19_lpddr3_val/Kconfig"
source "board/novtech/meerkat96/Kconfig"
source "board/technexion/pico-imx7d/Kconfig"
source "board/toradex/colibri_imx7/Kconfig"
source "board/warp7/Kconfig"

endif
