if TARGET_MX6UL_14X14_DDR3_ARM2

config SYS_BOARD
       default "mx6ul_14x14_ddr3_arm2"

config SYS_VENDOR
       default "freescale"

config SYS_CONFIG_NAME
       default "mx6ul_14x14_ddr3_arm2"

config MX6UL_DDR3_ARM2_EMMC_REWORK
	bool "Select this for the board with eMMC rework"

config MX6UL_DDR3_ARM2_USDHC2_REWORK
	bool "Select this for the board with 8bits USDHC2 rework"

config NOR
	bool "Support for NOR flash"
	help
	  The i.MX SoC supports having a NOR flash connected to the WEIM.
	  Need to set this for NOR_BOOT.
endif
