if TARGET_MX7D_12X12_DDR3_ARM2

config SYS_BOARD
	default "mx7d_12x12_ddr3_arm2"

config SYS_VENDOR
	default "freescale"

config SYS_SOC
	default "mx7"

config SYS_CONFIG_NAME
	default "mx7d_12x12_ddr3_arm2"

endif
