if ARCH_MX7ULP

config SYS_SOC
	default "mx7ulp"

config IMX_M4_BIND
	bool "Bind ULP M4 image to final u-boot"
	help
	  Select this to bind a ULP M4 image to final u-boot image
	  User needs put the M4 image ulp_m4.bin under u-boot directory

config MX7ULP
	bool

choice
	prompt "MX7ULP board select"
	optional

config TARGET_MX7ULP_10X10_ARM2
	bool "Support mx7ulp 10x10 validation board"
	select MX7ULP

config TARGET_MX7ULP_14X14_ARM2
	bool "Support mx7ulp 14x14 validation board"
	select MX7ULP

config TARGET_MX7ULP_EVK
        bool "Support mx7ulp EVK board"
	select MX7ULP

endchoice

source "board/freescale/mx7ulp_arm2/Kconfig"
source "board/freescale/mx7ulp_evk/Kconfig"

endif
