if ARCH_IMX8

config HAVE_SC_FIRMWARE
	bool
	help
	  Have SCU on the SoC

config IMX_SMMU
	bool "Enable SMMU on i.MX8"
	help
	  Enable the SMMU for peripherals on i.MX8

config IMX8
	bool
	default y

config IMX8QM
	bool
	select HAVE_SC_FIRMWARE

config IMX8QXP
	bool
	select HAVE_SC_FIRMWARE

config SYS_SOC
	default "imx8"

endif
